@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display Medium'), local('San-Francisco-Pro-Display-Medium'),
      url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Medium.woff') format('woff'),
      url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
      url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display thin'), local('San-Francisco-Pro-Display-Thin'),
      url('../fonts/SFProDisplay-Thin.woff') format('woff'),
      url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  }

*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family: 'San Francisco Pro';
  font-size: $font-size;
}

a{
  text-decoration: none;
}

h1{
  font-weight: 500;
  margin: 0;

  @include sm{
    font-size: 3.555em;
    line-height: 76px;
  }

  @include md-sm{
    font-size: 2.5em;
    line-height: 46px;
  }
  
  @include md-min{
    font-size: 3.555em;
    line-height: 76px;
  }
}

h2{
  font-size: 2.666em;
  line-height: 57px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  margin-bottom: $gap * 2.5;
}

h3{
  margin: 0;

  @include md{
    font-size: 2em;
  }

  @include lg-md{
    font-size: 1.7em;
  }
  
  @include lg-min{
    font-size: 2em;
  }
}

h4{
  margin: 0;
  font-size: 1.6666em;
  letter-spacing: -0.28px;
  line-height: 35px;
}

.container{
  margin: 0 auto;
  padding: 0;
  height: 100%;

  @include xs{
    max-width: 390px;
  }

  @include sm-xs{
    max-width: 550px;
  }

  @include md-sm{
    max-width: 720px;
  }

  @include lg-md{
    max-width: 950px;
  }

  @include lg-min{
    max-width: 1165px;
  }
}

.btn--classic{
  background: $color-white;
  border: 1px solid $color-rain;
  color: $color-dark-blue;
  box-shadow: 0px 2px 18px rgb(41 41 41 / 10%);
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  
  @include sm{
    height: 47px;
  }
  
  @include sm-min{
    height: 59px;
  }

    & a {
      color: $color-black;
      transition: 0.5s;
      display: flex;
      align-items: center;
    }

    & img {
      transition: 0.5s;
    }

    &:hover{
      background-color: $color-rain;
      color: $color-white;

      & a {
        color: $color-white;
      }

      & img {
        filter: brightness(10);
      }
    }
}

.insurance,
.conditions,
.questions,
.insurance-case,
.presentation,
.details{

  @include sm{
    padding-top: $gap * 2;
  }

  @include md-sm{
    padding-top: $gap * 2;
  }

  @include lg-md{
    padding-top: $gap * 3.5;
  }

  @include lg-min{
    padding-top: $gap * 5.4;
  }
}