.cases-content{
  margin: 0 auto;
  
  @include md-min{
    width: 766px;
  }

}

.cases{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm{
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap * 2;
  }

  &__item{
    background: $color-white;
    border: 1px solid $color-rain;
    box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include sm{
      height: 145px;
      width: 145px;
    }

    @include md-sm{
      height: 145px;
      width: 145px;
    }
    
    @include md-min{
      height: 165px;
      width: 165px;
    }

    &:hover{
      background: $color-white;
      border: 1px solid $color-sand;
      box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
      border-radius: 20px;
      transform: scale(1.1);
    }
  }

  &__img{
    height: 60%;
    margin-top: calc($gap / 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description{
    text-align: center;
    margin: 0;
    max-width: 128px;

    @include md-sm{
      font-size: 1em;
    }
    
    @include md-min{
      font-size: 0.777em;
    }
  }
}

.cases-answer{
  margin-top: calc($gap / 2);
  position: relative;
  height: 200px;
  visibility: hidden;

  @include sm{
    position: relative;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-size: 0.777em;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
  }

  &__text{
    width: 320px;

    & ul{
      padding-left: $gap * 1.5;

      & li{
        margin: ($gap * 0.5) 0;
      }
    }
  }
}

.cases .active{
  background: $color-white;
  border: 1px solid $color-sand;
  box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
  border-radius: 20px;
  transform: scale(1.1);
}

.cases-answer .active{
  opacity: 1;
  visibility: visible;
}

.first{
  padding: 64px 35px 34px 38px;
  width: 266px;
  height: 100%;
  margin-top: -20px;
  
  @include xs{
    border: 1px solid $color-sand;
    box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
    border-radius: 20px;
    height: 140px;
    margin-top: calc($gap / 2);
    padding: calc($gap / 2);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  @include xs-min{
    background: no-repeat url(../img/insurance-case-1.png);
    background-size: 100%;
    background-position: center;
  }
  

  @include sm-xs{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 5px);
  }

  & div{
    @include xs{
      text-align: center;
    }
  }

  & p {
    margin-bottom: $gap * 1.25;
  }

  & a {
    color: $color-dark-blue;
    font-size: 1.5em;
  }
}

.second{
  width: 100%;
  
  @include xs{
    border: 1px solid $color-sand;
    box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
    border-radius: 20px;
    height: 220px;
    margin-top: $gap * 1.5;
    padding: calc($gap / 2);
  }
  
  
  @include xs-min{
    margin-top: 5px;
    height: 241px;
    padding: 64px 27px 24px 33px;
    background: no-repeat url(../img/insurance-case-2.png);
    background-size: 100%;
    background-position: center;
  }

  @include sm{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -25px);
  }


  & a {
    color: $color-dirty-gold;
    text-decoration: underline;
  }
}

.third{
  right: 0px;
  
  @include xs{
    border: 1px solid $color-sand;
    box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
    border-radius: 20px;
    height: 150px;
    margin-top: calc($gap / 4);
    padding: calc($gap / 2);
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  @include xs-min{
    width: 426px;
    margin-top: -5px;
    height: 241px;
    padding: 85px 41px 54px 65px;
    background: no-repeat url(../img/insurance-case-3.png);
    background-size: cover;
    background-position: center;
  }

  @include sm{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 5px);
  }


  & a {
    color: $color-dirty-gold;
    text-decoration: underline;
  }

  & li:last-child{
    & a{
      margin-left: 10px;
      font-weight: 500;
    }
    }
}

.fourth{

  @include xs{
    border: 1px solid $color-sand;
    box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
    border-radius: 20px;
    height: 150px;
    margin-top: calc($gap / 2);
    padding: calc($gap / 2);
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  @include xs-min{
    background: no-repeat url(../img/insurance-case-4.png);
    background-position: center;
  }

  @include sm{
    background-size: contain;
    width: 350px;
    height: 240px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -5px);
  }
  
  @include md-sm{
    background-size: contain;
    width: 350px;
    height: 240px;
    right: 0px;
    top: -15px;
  }
  
  @include md-min{
    background-size: cover;
    right: -55px;
    width: 459px;
    height: 241px;
    padding: 106px 73px 60px 73px;
  }

  & button{
    height: 75px;

    @include xs{
      width: 100%;
    }

    @include sm-xs{
      width: 250px;
      gap: 15px;
      position: absolute;
      right: 45px;
      bottom: 75px;
    }

    @include md-sm{
      width: 250px;
      gap: 15px;
      position: absolute;
      right: 45px;
      bottom: 75px;
    }
    
    @include md-min{
      width: 313px;
      gap: 27px;
    }
  }
}