.insurance{
  
  &__title{

    @include lg-md{
      margin-bottom: $gap * 2.5;
    }

    @include lg-min{
      margin-bottom: $gap * 3.75;
    }
  }
}

.insurance-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include sm{
    gap: $gap * 2.5;
    flex-direction: column;
  }

  @include md-sm{
    gap: $gap * 2.25;
  }
  
  @include md-min{
    gap: $gap * 1.75;
  }

  &__item{
    background: $color-white;
    box-shadow: 0px 2px 18px #2929291a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
    position: relative;

    @include sm{
      width: 250px;
      padding: 10px;
    }

    @include md-sm{
      width: 150px;
      height: 165px
    }

    @include lg-md{
      width: 150px;
      height: 165px;
    }

    @include lg-min{
      width: 165px;
      height: 190px;
    }

    &::before{
      position: absolute;
      padding-top: 4px;
      background-color: $color-sand;
      color: white;
      text-align: center;
      border-radius: 20px 20px 0px 0px;
      width: 100%;
      top: 0;
      transform: translate(0, -50%);
      z-index: -1;
      
      @include sm{
        font-size: 1.3em;
        line-height: 24px;
        height: 60px;
      }
      
      @include sm-min{
        font-size: 0.777em;
        line-height: 17px;
        height: 50px;
      }
    }

    &:nth-of-type(1)::before{
      content: "без ограничений";
    }
    &:nth-of-type(2)::before{
      content: "без ограничений";
    }
    &:nth-of-type(3)::before{
      content: "24/7";
    }
    &:nth-of-type(4)::before{
      content: "до 2-х раз год";
    }
    &:nth-of-type(5)::before{
      content: "до 10 мин.";
    }

    & img{

      @include sm{
        margin-top: $gap * 0.75;
        width: 80px;
      }

      @include md-sm{
        margin-top: $gap * 0.75;
        width: 60px;
        height: 60px;
      }

      @include lg-md{
        margin-top: $gap * 0.75;
        width: 60px;
        height: 60px;
      }
      
      @include lg-min{
        margin-top: $gap * 1.5;
        width: 74px;
        height: 74px;
      }
    }

    & p {
      color: $color-dark-blue;
      text-align: center;
      margin: $gap 0 0 0;
      
      @include sm{
        font-size: 1.5em;
        line-height: 27px;
      }
      
      @include sm-min{
        font-size: 0.777em;
        line-height: 17px;
      }

      & span{
        font-weight: 500;
      }
    }
  }
}