.questions{

  &__list{
    margin-top: $gap * 2.5;
  }

  &__item{
    margin: 0 auto;

    @include md-sm{
      width: 100%;
    }
    
    @include md-min{
      width: 765px;
    }
  }

  &__question,
  &__answer{
    height: 85px;
    background: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__question{
    cursor: pointer;
    background: $color-white;
    transition: box-shadow 0.5s;
    transition: height .25s ease;
    overflow: hidden;

    @include sm{
      font-size: 1.1em;
    }
    
    @include sm-min{
      font-size: 1em;
    }

    &:hover{
      box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
      border-radius: 10px;
      position: relative;
    }

    & div:last-of-type {
      @include sm{
        margin-left: 50px;
      }
      
      @include sm-min{
        margin-left: 72px;
      }
    }
  }

  &__text{

    @include xs{
      width: 270px;
    }

    @include sm-xs{
      width: 400px;
    }

    @include sm-min{
      width: 521px;
    }
  }

  &__answer{
    display: none;
    background: #FFFFFF;
    border-radius: 10px;

    @include xs{
      box-shadow: inset 0px 0px 13px rgb(20 29 61 / 30%);
    }
    
    @include xs-min{
      box-shadow: inset 0px 0px 13px rgb(20 29 61 / 8%);
    }

    @include sm{
      font-size: 1.1em;
      text-align: center;
      padding: calc($gap / 2);
    }
    
    @include sm-min{
      font-size: 0.888em;
    }
  }
}

.active-question{
  border-radius: 10px;
  position: relative;
  margin-bottom: -10px;

  @include xs{
    box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.3), -2px -2px 5px rgba(20, 29, 61, 0.3);
  }
  
  @include xs-min{
      box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
    }

}
