$color-dark-blue: #0D1C41;
$color-black: #000000;
$color-gray: #939CA6;
$color-dark-gray: #9C9C9C;
$color-white: #ffffff;
$color-sand: #DDD0A4;
$color-dirty-gold: #A89060;
$color-rain: #4A607A;
$color-pink: #EA7571;
